/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10px;
}

body {
    background-color: black;
}

/* BOTTONI */
.button-little {
    background-color: #4a4a4a;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem .3rem;
    font-size: .9rem;
    cursor: pointer;
}

.button-big {
    background-color: #4a4a4a;
    color: red;
}

/* HEADER */
header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* MAIN */
main {
    overflow-y: auto;
}

main .container {
    margin: 6rem auto;
    width: 90%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem .5rem;
}

main .participant-screen {
    background: url(https://picsum.photos/id/1022/150/80);
    background-size: cover;
    width: 150px;
    height: 80px;
    display: flex;
    align-items: flex-end;
}

main .participant-name {
    background-color: rgba(0,0,0,.5);
    padding: .3rem .5rem;
    font-size: .8rem;
}

/* FOOTER */
footer {
    background-color: #222222;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
}

footer .column {
    height: 100%;
    display: flex;
    align-items: stretch;
}

footer .column-right {
    display: flex;
}

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    padding: .5rem;
    margin: 0 .5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

footer i {
    font-size: 1.5rem;
    margin-bottom: .7rem;
}

footer .icon-green {
    color: #4bc800;
}

footer .fa-angle-up {
    font-size: 1rem;
}